body {
  height: 100vh;
}
.App {
  text-align: center;
  display: flex;
}
.form {
  height: 400px;
  width: 200px;
  border: solid red;
}
.formimage {
  height: 80px;
  width: 150px;
}
.dashboard {
  height: 200px;
  width: 400px;
  border: solid blue;
}
.realimage {
  width: 100px;
  height: auto;
}
